<h3> So...You have a movement that you are really passionate about huh? </h3>
    <p> Create and submit the movement below for review and one of our team members will get back to you if it was approved!</p>


  <%= render 'form'%>