<% if @movement %>
    <h1><%= link_to @movement.name, movement_path(@movement)  %></h1> 
<% end %>

<h1>Upcoming Protests:</h1>


    <% @protests.each do |d| %>
    <% binding.pry %>
        <li><%= link_to d.name, movement_protest_path(@movement, d) %></li>
    <% end %>
